body{
    background-image: url('assets/imgs/background.webp');
}

.container{
    min-height: calc(100vh - 56px - 56px) !important;
}

h1, h2,h3{
    text-align: center;
}

h1{
    font-size: 4em;
    margin: 4rem;
}

h2{
    font-size: 3em;
    margin: 2rem;
}
h3{
    margin: 2rem;
}

h4{
    font-size: 1.3em;
}

.wrap{
    min-height: calc(100vh - 56px - 56px) !important;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    box-shadow: 0px 0px 25px #222;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.backdrop-blur {
    min-height: calc(100vh - 56px - 56px) !important;
    padding: 2rem 3rem;
    text-align: center;
    color: #fff;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    box-shadow: 0px 0px 25px #222;
    /* background-color: rgba(34, 34, 34, 0.568); */
    backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(2em);
}

footer{
    color: white;
}
 

.onlyList{
    margin-left: 10em;
    margin-right: 10em;
    font-size: 1.5em;
}

.modifyCol{
    margin-left: 4em;
    margin-right: 4em;
}

.growFont, .diminishFont, .blue, .green, .random{
    margin-left: 1em;
    margin-right: 1em;
}

hr{
    height: 20px;
}